{{autherName | upper}}
<br>
{% set a = "&Hello" %}
{{a | trim('&')}}
{# comment #}
<br>
{% for i in 0..9 %}
    {{i}}
{% endfor %}
<br>
{% set hour = 10 %}
{% if hour > 10 %}
    <p>The hour is{{hour}} AM</p>
{% else %}
    <p>The hour is {{hour}} AM</p>
{% endif %}
<a href = "{{path('app_author')}}">Lien 1</a>
<a href = "{{url('app_author')}}">Lien 2</a>
<br>
<br>
<br>
<img src = "{{asset("assets/images/3.jpg")}}">