<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Backoffice{% endblock %}</title>

    {# CSS assets #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700">
    <link href="{{ asset('assets/material-dashboard/css/nucleo-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/material-dashboard/css/nucleo-svg.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="{{ asset('assets/material-dashboard/css/material-dashboard.css?v=3.0.0') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body class="g-sidenav-show bg-gray-200">

    {% include 'partials/sidebar.html.twig' %}

    <div class="main-panel">
        {% include 'partials/navbar.html.twig' %}

        <div class="content">
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% include 'partials/footer.html.twig' %}
    </div>

    {# JS assets #}
    <script src="{{ asset('assets/material-dashboard/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('assets/material-dashboard/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/material-dashboard/js/plugins/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('assets/material-dashboard/js/plugins/smooth-scrollbar.min.js') }}"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), { damping: '0.5' });
        }
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{{ asset('assets/material-dashboard/js/material-dashboard.min.js?v=3.0.0') }}"></script>

    {% block javascripts %}{% endblock %}

</body>
</html>